#quote-box {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.911);
  margin-top: 20vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-20%);
}

#quote {
  height: 150px;
}
#text{
  margin-bottom: 50px;
  font-size: 20px;
}

#author {
  text-align: right;
  font-style: italic;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: center;
}

#new-quote,
#tweet-quote {
  margin: 0px 30px;
}
#tweet-quote {
  padding-top: 5px;
}

a {
  color: #00606d;
}
