#quote-box {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.836);
}

#quote {
  height: 150px;
}
#author {
  text-align: right;
  font-style: italic;
}

.buttons {
  display: flex;
  justify-content: center;
}

#new-quote,
#tweet-quote {
  margin: 0px 30px;
}
#tweet-quote {
  padding-top: 5px;
}

a {
  color: #00606d;
}
